---
layout: home
---

{% comment %}
CONTENT BEGINS
{% endcomment %}

{% assign items = site.case-studies | sort: 'date' | reverse %}
{% for item in items limit:1 %}
<div class="hero parallax b-lazy" data-src="{{ item.image }}">
{% endfor %}
  {% for item in items limit:1 %}
    <a href="{{ item.url }}" class="hero__first">
        <div class="tile tile--text y2 x3 tile--highlight">
          <h3 class="tile__title">{{ item.client }}</h3>
          {{ item.job }}
        </div>
        {% if item.image %}
          <noscript>
            <img src="{{ item.image }}" alt="Thumbnail for {{ item.title }}" class="hero__first__image">
          </noscript>
        {% else %}
          <noscript>
            <img src="http://fillmurray.com/400/300" alt="Thumbnail for {{ item.title }}" class="hero__first__image">
          </noscript>
        {% endif %}
    </a>
  {% endfor %}
</div>

<div class="tile-container tile-wall">
  {% assign items = site.case-studies | sort: 'date' | reverse %}
  {% for item in items offset:2 %}
    <a href="{{ item.url }}" class="tile">
      <div class="tile__inner">
        <!-- <small class="tile__small">Case study</small> -->
        <h3 class="tile__client">{{ item.client }}</h3>
        <p class="tile__title">{{ item.job }}</p>
      </div>
      {% if item.thumbnail %}
        <img src="{% include src %}" data-src="{{ item.thumbnail }}" alt="Thumbnail for {{ item.title }}" class="b-lazy tile__image">
        <noscript>
          <img src="{{ item.thumbnail }}" alt="Thumbnail for {{ item.title }}">
        </noscript>
      {% endif %}
    </a>
  {% endfor %}
</div>
