---
layout: default
bodyclass: body--home
---
{% assign items = site.case-studies | sort: "sortOrder", "last" | reverse %}
{% for item in items %}
<section class="section" style="color: #{{item.color}}">
	<div class="section__left">
		<a href="{{item.url}}" class="left__inner">
			<h3 class="left__client">{{ item.client }}</h3>
			<p class="left__job">{{ item.job }}</p>
		</a>
	</div>
	<div class="section__right">
		<a href="{{item.url}}" class="section__image-link">
			<img src="{% include src %}" data-srcset="{{item.image-1024}} 1024w, {{item.image-2048}} 2048w" data-src="{{item.image}}" alt="{{item.title}}" class="b-lazy">
		</a>
		<noscript>
			<a href="{{item.url}}">
				<img src="{{item.image}}" alt="{{item.title}}">
			</a>
		</noscript>
	</div>
</section>
{% endfor %}