---
layout: default
---

<ul class="case-studies tile-container">
  {% for case-study in site.case-studies reversed %}
    <li class="case-study tile">
      {% if case-study.thumbnail %}
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ case-study.thumbnail }}" alt="Thumbnail for {{ case-study.title }}" class="b-lazy tile__image">
        <noscript>
          <img src="{{ case-study.thumbnail }}" alt="Thumbnail for {{ case-study.title }}">
        </noscript>
      {% else %}
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="http://fillmurray.com/400/300" alt="Thumbnail for {{ case-study.title }}" class="b-lazy tile__image">
        <noscript>
          <img src="http://fillmurray.com/400/300" alt="Thumbnail for {{ case-study.title }}">
        </noscript>
      {% endif %}
      <h2 class="tile__title">{{ case-study.title }}</h2>
      <a class="tile__link" href="{{ case-study.url | prepend: site.baseurl }}">{{ case-study.title }}</a>
    </li>
  {% endfor %}
</ul>