<div class="gallery">
	{% if include.1 %}
		<a href="{{include.1}}" title="{{include.1caption}}">
			<img src="{{include.1thumb}}" alt="{{include.1caption}}">
		</a>
	{% endif %}
	{% if include.2 %}
		<a href="{{include.2}}" title="{{include.2caption}}">
			<img src="{{include.2thumb}}" alt="{{include.2caption}}">
		</a>
	{% endif %}
	{% if include.3 %}
		<a href="{{include.3}}" title="{{include.3caption}}">
			<img src="{{include.3thumb}}" alt="{{include.3caption}}">
		</a>
	{% endif %}
	{% if include.4 %}
		<a href="{{include.4}}" title="{{include.4caption}}">
			<img src="{{include.4thumb}}" alt="{{include.4caption}}">
		</a>
	{% endif %}
	{% if include.5 %}
		<a href="{{include.5}}" title="{{include.5caption}}">
			<img src="{{include.5thumb}}" alt="{{include.5caption}}">
		</a>
	{% endif %}
	{% if include.6 %}
		<a href="{{include.6}}" title="{{include.6caption}}">
			<img src="{{include.6thumb}}" alt="{{include.6caption}}">
		</a>
	{% endif %}
	{% if include.7 %}
		<a href="{{include.7}}" title="{{include.7caption}}">
			<img src="{{include.7thumb}}" alt="{{include.7caption}}">
		</a>
	{% endif %}
	{% if include.8 %}
		<a href="{{include.8}}" title="{{include.8caption}}">
			<img src="{{include.8thumb}}" alt="{{include.8caption}}">
		</a>
	{% endif %}
	{% if include.9 %}
		<a href="{{include.9}}" title="{{include.9caption}}">
			<img src="{{include.9thumb}}" alt="{{include.9caption}}">
		</a>
	{% endif %}
	{% if include.10 %}
		<a href="{{include.10}}" title="{{include.10caption}}">
			<img src="{{include.10thumb}}" alt="{{include.10caption}}">
		</a>
	{% endif %}
</div>