<header>

  <h1>
    <a href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </h1>

  <p>{{ site.tagline }}</p>

  <ul>
    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    {% if site.github_username %}
    <li>{% include icon-github.html username=site.github_username %}</li>
      {% endif %}
    {% if site.twitter_username %}
    <li>{% include icon-twitter.html username=site.twitter_username %}</li>
      {% endif %}
  </ul>

  <nav>
    <ul>
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li>
          <a href="{{ my_page.url | prepend: site.baseurl }}">
            {{ my_page.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

</header>
