<header class="masthead">

  <a href="{{ site.baseurl }}/" class="masthead__logo">
    {% include logo.svg %}
  </a>

  <h1 class="masthead__title">
    {{ site.title }}
  </h1>

  <p class="masthead__tagline">{{ site.tagline }}</p>

  <a href="mailto:{{ site.email }}" class="masthead__link">{{ site.email }}</a>

  <!-- <ul class="masthead__list">
    {% if site.github_username %}
    <li>{% include icon-github.html username=site.github_username %}</li>
      {% endif %}
    {% if site.twitter_username %}
    <li>{% include icon-twitter.html username=site.twitter_username %}</li>
      {% endif %}
  </ul>

  <nav>
    <ul>
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li>
          <a href="{{ my_page.url | prepend: site.baseurl }}">
            {{ my_page.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav> -->

</header>
