// Typography

html {
	color: $fuscous;
	font-family: 'Libre Baskerville', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

a {
	color: $fuscous;
	text-decoration: underline;

	&:link {}
	&:visited {}
	&:hover {color: mix(gold, $fuscous, 30%)}
	&:active {text-decoration: none}
}