// Featured case-study
// Displayed nice and big on the home page

.hero {
	background-size: cover;
	background-position: 50% 0;
	position: relative;
}

.hero,
.hero__first {
	display: block;
	height: calc(100vh + 10vw);
}

.hero__first {
	img {
		display: block;
		position: fixed;
		width: 75%;
		z-index: -1;
	}

	.tile {
		position: absolute;
	}

	&:hover {
		color: $paper;
		text-decoration: underline;
	}
}

.hero__second {
	background-color: $paper;
	bottom: 0;
	position: absolute;
	width: 66.667%;

	// .tile {
	// 	float: left;
	// }
}