// Section

.section {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
	position: relative;

	.body--home & {
		border-bottom: .5em solid currentColor;
		background-color: #fff;
	}

	@media only screen and (min-width: 27em) {
		.body--home & {
			border: 0;
			flex-flow: row nowrap;
			height: $sectionHeight;
			min-height: $sectionMinHeight;
		}
	}

	@media only screen and (min-width: 45em) {
		.body--case-study &,
		.body--about & {
			flex-flow: row nowrap;
			min-height: $sectionHeight;
		}
	}
}

.section__left,
.section__right {
	transition: width .3s ease;
}

.section__left {
	background-color: $shark;
	background-color: currentColor;
	display: flex;
	flex-flow: column nowrap;
	min-width: 10.5em;
	padding: 2em;
	position: relative;
	z-index: 1;

	.body--home & {
		bottom: 0;
		max-width: calc(100% - 1em);
		position: absolute;
	}

	.body--home &,
	.body--about & {
		padding: 1em 2em .5em 1em;
	}

	p {
		margin-bottom: 0;
	}

	@media only screen and (min-width: 27em) {
		
		.body--home & {
			justify-content: center;
			margin-right: -1em;
			max-width: none;
			mix-blend-mode: multiply;
			position: static;
			width: 50%;
		}
	}

	@media only screen and (min-width: 45em) {
		padding: 2em !important;
		width: 33.333% !important;
	}
}

.left__inner {
	color: $paper;
}

.left__client {
	font-size: 2em;
	line-height: 1;
	margin-bottom: .3em;
	transition: all .3s ease;

	@media only screen and (min-width: 60em) {
		font-size: 3em;
	}
}

.section__right {
	position: relative;

	.body--case-study &,
	.body--about & {
		padding: 2em;
	}

	@media only screen and (min-width: 27em) {

		.body--home & {
			height: $sectionHeight;
			min-height: $sectionMinHeight;
			width: calc(50% + 1em);
		}
	}

	@media only screen and (min-width: 45em) {
		width: 66.666%;

		.body--home & {
			width: calc(66.666% + 1em);
		}
	}

	img {
		display: block;

		@media only screen and (min-width: 27em) {
			.body--home & {
				height: $sectionHeight;
				min-height: $sectionMinHeight;
			}
		}

		.body--home & {
			object-fit: cover;
		}
	}
}

.section__image-link img {
	width: 100%;
}