// Social
// List of social links on the About page

// <div>
.social {

	ul {
		@include unstyled;
		text-align: center;
	}

	li {
		display: inline-block;
		margin: 0 1em;

		a:before {
			background-repeat: no-repeat;
			background-position: center;
			content: '';
			display: inline-block;
			height: 1em;
			margin-right: .5em;
			width: 1em;
		}

		a,
		a:before {
			vertical-align: middle;
		}
	}
}

.email a:before {
	background-image: url(/images/mail.svg);
}

.linkedin a:before {
	background-image: url(/images/linkedin.svg);
	margin-bottom: .3em;
}

.twitter a:before {
	background-image: url(/images/twitter.svg);
}

.instagram a:before {
	background-image: url(/images/instagram.svg);
}

.lastfm a:before {
	background-image: url(/images/lastfm.svg);
}