// Tile
// aka a flexbox grid of boxes

// First, the container
.tile-container {
	@include unstyled;
	background-color: transparent;
	position: relative;

	&:hover .tile {
		-webkit-filter: grayscale(.8) brightness(.8);
	}

	@media only screen and (max-width: 840px) {
		font-size: 14px;
	}
}

// Now, the tile itself
.tile {
	background-color: $paper;
	float: left;
	min-height: $t*9;
	text-decoration: inherit;
	transition: transform .3s ease, box-shadow .3s ease, -webkit-filter .3s ease;
	width: 33.333%;
	z-index: 0;

	.tile-container--home &:nth-child(1) {
		margin-top: -$t*9;
	}

	&:hover {
		// box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
		color: inherit;
		// outline: .98px solid rgba(0,0,0,.25);
		text-decoration: underline;
		// transform: scale(1.01);
		z-index: 9;

		.tile-container & {
			-webkit-filter: grayscale(0) brightness(1);
		}
	}

	// Padding for tiles which only contain text
	&--text {
		padding: 1em;
	}

	// Blank tiles are inserted every so often to make the grid look pretty
	&--blank {
		background-color: $shark;
	}
}

// Contains text, sits inside a tile
.tile__inner {
	padding: 1em;
	position: relative;

	&:before,
	&:after {
		border: 1em solid transparent;
		content: '';
		height: 0;
		position: absolute;
		top: 1em;
		width: 0;
	}
}

.tile__small {
	text-transform: uppercase;
}

// <img>
.tile__image {
	opacity: 1;
	transition: opacity .3s ease;
}

// <h4>
.tile__client,
.tile__title {
	margin-bottom: 0;
}

.tile__small,
.tile__inner,
.tile__client {
	text-decoration: inherit;
}

// Hide lazy-load image containers if JavaScript is not available
.no-js .b-lazy {
	display: none;
}