// Header

header {

	background-color: $amber;

	@media only screen and (min-width: 40em) {
		position: fixed;
		width: 15em;
		top: 0;
		bottom: 0;
		left: 0;
		
		&:before {
			background-color: $amber;
			content: '';
			display: block;
			position: absolute;
			transform: rotate(3deg);
			z-index: -1;
			top: -1em;
			right: -1em;
			bottom: -1em;
			left: -1em;
		}
	}

}