<!DOCTYPE html> 
<!--[if lte IE 9]><html class="no-js oldie" lang="en" itemscope itemtype="http://schema.org/Product"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product" prefix="og: http://ogp.me/ns/article#">
<!--<![endif]-->

  {% include head.html %}

  <body class="body--default">

    {% include header.html %}

    <main class="main">
      {{ content }}
    </main>

  <script src="/js/willwallace.js"></script>
  
  </body>

</html>
