// The <footer> element

.footer {
	background-color: $shark;
	bottom: 0;
	color : $paper;
	font-size: .75em;
	height: 3.5em;
	padding: 1em;
	position: fixed;
	text-align: right;
	width: 100%;
	z-index: -1;

	&__logo {
		width: 1.25em;

		svg {
			fill: $paper;
		}
	}

	&__logo,
	&__text {
		display: inline-block;
	}

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}