// Pagination
// "Next" & "prev" links at the end of an article

.pagination {
	color: mix($paper, $shark, 33%);
	display: flex;
	font-size: 0.8em;
	justify-content: space-between;
	margin-top: 2em;
}